<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd"> 
    <context:annotation-config/>
    <context:component-scan base-package="org.saravana.derby.dao"/>
    
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
    <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
    <property name="url" value="jdbc:derby://localhost:1527/derbydb"/>
    <property name="initialSize" value="2"/>
    <property name="maxIdle" value="5"/>
    </bean>
    
    <bean id="simpleJdbcDaoImpl" class="org.saravana.derby.dao.SimpleJdbcDaoImpl">
    <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="packagesToScan" value="org.saravana.derby.model"/>
    <property name="hibernateProperties">
	    <props>
	    	<prop key="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</prop>
	    </props>
    </property>
    </bean>
    </beans>